.to-do-list-page-header{
    min-height: 100px;
    height: fit-content;
    background-color: #007bff;
    padding: 5px 5px 5px 10px;
}
.to-do-list-page-header-content{
    height: fit-content;
    background-color: #007bff;
    z-index: 1000;
    position: relative;
    display: flex;
    padding: 5px 5px 5px 10px;
}
.to-do-list-page-header-content>div{
    flex: 1 1;
}
.to-do-list-page-header-content>button{
    flex: 0 0;
    height: 50px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: #222222aa;
    color: #FFFFFF;
    border: none;
    font-size: 20px;
}
.to-do-list-page-title{
    font-size: 36px;
    font-weight: bolder;
    color: #FFFFFF;
    padding-left: 10px;
    min-height: fit-content;
}
.date-tag-container{
    width: 75%;
    display: flex;
    overflow-x: scroll;
    flex-wrap: wrap;
    gap: 5px;
}
.date-tag{
    flex: 1 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #222222aa;
    color: #FFFFFF;
    padding: 5px;
    border-radius: 5px;
    font-weight: bolder;
    max-width: 200px;
}
.to-do-list-holder{
    border: #222222 solid 1px;
}