.to-do-item{
    max-width: 100%;
    background-color: var(--background_color);
    box-shadow: 1px 1px 10px #222;
    border: #222 solid 1px;
    border-radius: 5px;
    overflow: hidden;
    z-index: 1;
}
.to-do-header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    gap: 5px;
    background-color: #007bff88;
    color: #222;

}
.text-area{
    flex-grow: 1;
    flex-shrink: 1;
    overflow: hidden;
    font-weight: bold;
    font-size: 16px;
    padding-left: 5px;
}
.text-area[aria-expanded=false]{
    display: none;
}
.text-area[aria-expanded=true]{
    display: block;
}
.to-do-header>input[type=text],.to-do-header>div{
    flex: 1;
}
.to-do-header>input[type=checkbox]{
    flex-shrink: 0;
    flex-grow: 0;
    height: 100%;
    aspect-ratio: 1/1;
    color: #FFFFFF;
}
.to-do-header>button{
    all: unset;
    min-height: 30px;
    height: 100%;
    padding: 5px;
    aspect-ratio: 1/1;
    flex-grow: 0;
    flex-shrink: 0;
}
.to-do-header>button>i:hover{
    background-color: #007bff;
    border-radius: 5px;
}

.dark-input-field{
    background: #222;
    color: #aaa;
}
.dark-input-field>.input-container{
    border: #FFFFFF 1px solid;
}
.dark-input-field>.input-container div{
    background: #222;
    color: #aaa;
}
.dark-input-field>.input-container[aria-expanded="true"] div {
    background: #aaa;
    color: #222;
}
.dark-input-field>.input-container>.input-field-input{
    background: #222;
    color: #aaa;
}

.to-do-list-container{
    width: min(100%);
    min-height: 100vh;
    background-color: #FFFFFF;
    z-index: 1;
}
.to-do-list-header{
    position: sticky;
    top: 0;
    max-width: 100%;
    padding-right: 5px;
    padding-left: 5px;
    display: flex;
    height: 50px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    background-color: #007bff;
    color: var(--background_color);
    z-index: 1000;
}
.to-do-list-header>div{
    flex-shrink: 1;
    flex-grow: 1;
    padding: 5px;
    font-size: 20px;
    font-weight: bolder;
    color: #FFFFFF;
}
.to-do-list-header>button{
    flex: 0 0;
    height: 60%;
    aspect-ratio: 1/1;
}
.to-do-list{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 5px;
}

.to-do-footer{
    display: flex;
    gap: 15px;
    background-color: #007bff88;
    flex-direction: row;
    justify-content: end;
    padding: 5px 5px 5px 25px;
    flex-wrap: wrap;
}
.to-do-footer>div{
    flex: 1 1;
    min-width: fit-content;
    display: flex;
    align-items: center;
    background-color: #FFFFFF88;
    padding: 3px;
    border-radius: 3px;
    gap: 5px;
    font-weight: bolder;
    flex-wrap: wrap;
}
.to-do-footer>div>div{
    flex: 1 1;
    background-color: #007bff66;
    color: #222;
    padding: 3px;
    border-radius: 3px;
    font-weight: normal;
    text-align: center;
}
.to-do-footer>button[aria-expanded=true]{
    background-color: #007bff66;
    color: white;
    border: #222222 2px solid;
}